@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    transition: all ease .2s;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
